body {
  background: #000;
  color: #fff
}

h1 {
  color: #FF2734;
}

header {
  background: #b89090
}

nav {
  background: #694156
}

main {
  background: #800040
}

article {
  background: #77dd7e
}

section {
  background: #ffe4e1
}

div {
  background: #b89090
}

aside {
  background: #b89090
}

footer {
  background: #b89090
}
