body {
  background: #000;
  color: #fff;
  height: 100%;
}

html {
  height: 100%;
}

h1 {
  color: #FF2734;
}

header {
  top: 0;
  height: 60px;
  width: 30%;
  background-color: #fff;
  float: left;
}

nav {
  background: #694156;
  float: left;
}

main {
  background: white;
  clear: both;
}

article {
  background: #77dd7e;
  clear: both;
}

section {
  background: #ffe4e1;
}

div {
  background: #b89090;
}

aside {
  background: #b89090;
}

footer {
  background: #b89090;
}
